.comments-wrap {
  background: $secondary-pl;
  padding: 40px 38px;
  .title {
    @extend .h2-headline;
    margin-bottom: 40px;
  }
  .comments-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    max-width: 980px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }
  .comment-block {
    background: $white;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    max-width: 478px;
  }
  .avatar {
    position: static;
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
  }
  .content {
    @extend .body-md-brand-bold;
    padding: 0 10%;
    margin-bottom: 4px;
  }
  .name {
    @extend .body-md-brand-bold;
    color: $text-color-1;
    padding: 0 10%;
    margin-top: auto;
  }
}
