.all-faq-wrap {
  display: none;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: -40px;
  @media (min-width: $tablet) {
    display: block;
  }
}
.all-faq {
  @extend .body-md-brand-bold;
  display: inline-block;
  text-align: left;
  color: $primary-pl;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  &::before {
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;
    content: "\f078";
    font-family: "FontAwesome" !important;
    font-size: 20px;
    color: $primary-pl;
    font-weight: 100;
    transform: rotate(90deg);
  }
}
.FAQ-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 38px;
  background: $background-2;
  .title {
    @extend .h2-headline;
    color: $primary-pl;
    margin-top: 20px;
    margin-bottom: 56px;
  }
  .questions-group {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 153px;
      max-width: 980px;
      margin: 0 auto;
    }
  }
  li.question {
    position: relative;
    padding-right: 58px;
    > a::after {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      content: "\f078";
      font-family: "FontAwesome" !important;
      font-size: 20px;
      font-weight: 100;
      transition: 0.3s;
    }
    a[aria-expanded="true"]::after {
      transform: rotate(-180deg);
    }
  }
  .topic-name {
    @extend .body-xl-brand-bold;
    color: $primary-pl;
    margin-bottom: 32px;
    text-align: left;
  }
  .question {
    margin-bottom: 20px;
    a {
      @extend .body-md-brand-bold;
      color: $black;
    }
  }
  ul li.question:last-child {
    margin-bottom: 40px;
  }
  .answer {
    padding-top: 16px;
    a {
      font-weight: normal;
      color: #007bff;
      text-decoration: underline;
    }
  }
  .show-more {
    @extend .body-md-brand-bold;
    color: $primary-pl;
    margin-top: 8px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    @media (min-width: $tablet) {
      margin-top: 22px;
    }
    &::after {
      position: absolute;
      right: -38px;
      top: -4px;
      z-index: 1;
      content: "\f078";
      font-family: "FontAwesome" !important;
      color: $primary-pl;
      font-size: 20px;
      font-weight: 100;
      transition: 0.3s;
    }
    &[aria-expanded="true"]::after {
      transform: rotate(-180deg);
    }
  }
}
.group-tag {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 42px;
  padding: 24px 38px 0 38px;
  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 980px;
    padding: 24px 0 0 0;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}
