.legal-notice-page,
.cookie-page,
.CGU-page,
.privacy-policy-page {
  .banner {
    margin: 0;
    .content {
      margin: 0;
    }
  }
  .content-wrapper {
    padding: 56px 38px;
    max-width: 980px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      padding: 56px #{"min(160px, 10%)"};
    }
    .title {
      @extend .h3-headline;
      color: $primary-pl;
      margin-bottom: 24px;
      text-align: left;
    }
    .content {
      @extend .body-sm;
      margin-bottom: 40px;
      text-align: left;
    }
  }
  .version {
    @extend .body-sm;
    text-align: center;
    margin: 10px 0 0 0;
  }
}
