.service-tag-wrap:hover {
  text-decoration: none;
}
.service-tag {
  display: flex;
  align-items: center;
  padding: 24px 16px;
  border-radius: 16px;
  background: $secondary-pl;
  cursor: pointer;
  @media (min-width: $tablet) {
    max-width: 338px;
  }
  .service-icon {
    width: 48px;
    margin-right: 16px;
  }
  .service-name {
    margin: 0;
    flex: 1;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    text-align: center;
  }
  .icon {
    font-size: 20px;
    margin: 0 14px;
    color: white;
  }
}
