.h1-headline_zh {
  font-size: 44px;
}
@mixin h1-headline_zh {
  font-size: 44px;
}
.h2-headline_zh {
  font-size: 36px;
}
.h3-headline_zh {
  font-size: 28px;
}
.body-xl-brand-bold_zh {
  font-size: 20px;
}
.body-xl-brand_zh {
  font-size: 20px;
}
.body-md-brand-bold_zh {
  font-size: 18px;
}
.body-md-brand_zh {
  font-size: 18px;
}
.body-sm-brand-bold_zh {
  font-size: 18px;
}
.body-sm-brand_zh {
  font-size: 18px;
}
.body-md-bold_zh {
  font-size: 18px;
}
.body-md_zh {
  font-size: 18px;
}
.body-sm-bold_zh {
  font-size: 14px;
}
.body-sm_zh {
  font-size: 14px;
}
